{% extends 'base.html' %} {% block title %}Home - Roshan Yadav's
Portfolio{%endblock %} {% block content %}

<div id="home" class="hero">
  <section class="left" data-lag="1">
    <span
      class="stager"
      style="
        display: flex;
        align-items: center;
        gap: 13px;
        font-weight: bold;
        font-size: 1.4rem;
        color: var(--secondary-txt);
      "
      >HELLO <span class="line"></span
    ></span>
    <h1 class="heading stager" style="font-size: 2rem">I AM ROSHAN YADAV</h1>
    <h2 class="heading stager">A FULL STACK DEVELOPER</h2>
    <h3
      class="heading stager"
      style="font-size: 0.9rem; color: var(--secondary-txt)"
    >
      WELL EXPERIENCED IN PYTHON , BUILD WEBSITE <br />
      & IMPLEMENT AI AND OTHER AUTOMATION TOO.
    </h3>
    <button class="btn">Contact Me</button>
  </section>
  <section class="right" data-lag="1.5">
    <img src="static/images/ro-profile.png" alt="" />
  </section>
</div>

{% include 'about.html' %} {% include 'skill.html' %}{% include 'project.html'
%}{% include 'contact.html' %}{% endblock %}
