<h2 class="about-heading">ABOUT</h2>
<div class="box">
  <img src="static/images/profile-min-clr.png" alt="" />
  <div class="info">
    <h2 style="letter-spacing: 2px">I'M ROSHAN YADAV</h2>
    <h3>A FULL STACK & PYTHON DEVELOPER</h3>
    <p style="font-weight: bold; color: var(--secondary-txt)">
      I am from Nepal, <br />
      Currently doing Bachelor in Data Science <br />
      in the University of the Sunshine Coast, Adelaide. <br />
      I'm well Skilled in different Python Libraries, <br />
      and would love to help you build your own Website, <br />
      Integrate AI & would love to work with you as <br />
      a Data Scientist for AI & ML related projects😊.
    </p>
  </div>
</div>
